# Defaultdict for accumulation

In [2]:
from collections import defaultdict
d = defaultdict(list)
d['Mark'].append('red')
d['Julie'].append('green')
d['Matt'].append('yellow')
print(d)

defaultdict(<class 'list'>, {'Mark': ['red'], 'Julie': ['green'], 'Matt': ['yellow']})

In [3]:
from pprint import pprint
pprint(d)

defaultdict(<class 'list'>,
            {'Julie': ['green'],
             'Mark': ['red'],
             'Matt': ['yellow']})

In [4]:
d['Mark'].append('mac')
d['Julie'].append('pc')
d['Matt'].append('vtech')
pprint(d)

defaultdict(<class 'list'>,
            {'Julie': ['green', 'pc'],
             'Mark': ['red', 'mac'],
             'Matt': ['yellow', 'vtech']})

In [5]:
'After accumulation, change it back to normal dict'
d = dict(d)
pprint(d)

{'Julie': ['green', 'pc'], 'Mark': ['red', 'mac'], 'Matt': ['yellow', 'vtech']}

# One to many and reverse it

In [6]:
e2s = {
    'one': ['uno'],
    'two': ['dos'],
    'three': ['tres'],
    'trio': ['tres'],
    'free': ['libre', 'gratis']
}
pprint(e2s)

{'free': ['libre', 'gratis'],
 'one': ['uno'],
 'three': ['tres'],
 'trio': ['tres'],
 'two': ['dos']}

In [7]:
s2e = defaultdict(list)
for eng, spanwords in e2s.items():
    for span in spanwords:
        s2e[span].append(eng)
pprint(s2e)

defaultdict(<class 'list'>,
            {'dos': ['two'],
             'gratis': ['free'],
             'libre': ['free'],
             'tres': ['three', 'trio'],
             'uno': ['one']})

In [9]:
e2s = dict(one = 'uno', two = 'dos', three = 'tres')
pprint(e2s)

{'one': 'uno', 'three': 'tres', 'two': 'dos'}

In [10]:
{span: eng for eng, span in e2s.items()}

{'dos': 'two', 'tres': 'three', 'uno': 'one'}

# iterator, tuple, enumrate

In [19]:
it = iter('abcdefg')
it

In [20]:
next(it)

'a'

In [21]:
next(it)

'b'

In [23]:
list(it)

[]

In [25]:
t = ('Raymond', 'Hettinger', 54, 'python@rn.com')
type(t)

tuple

In [32]:
fname, lname, age, email = t
fname

'Raymond'

In [37]:
names = 'Rachel Mike Matt'.split()
print(names)

for name in names:
    print(name.upper())

for i, name in enumerate(names, start = 1):
    print(i, name)

['Rachel', 'Mike', 'Matt']
RACHEL
MIKE
MATT
1 Rachel
2 Mike
3 Matt

In [41]:
colors = 'red yellow green'.split()
for color in reversed(colors):
    print(color)

green
yellow
red

In [48]:
for name, color in zip(names, colors):
    print(name, color)

Rachel red
Mike yellow
Matt green

In [51]:
for color in sorted(colors):
    print(color)

green
red
yellow

In [53]:
for color in sorted(colors, key=len):
    print(color)

red
green
yellow

In [62]:
cities = 'austin dallas austin houston chiacogo dallas austin'.split()
for i, city in enumerate(map(str.upper, reversed(sorted(set(cities))))):
    print(i, city)

0 HOUSTON
1 DALLAS
2 CHIACOGO
3 AUSTIN

In [69]:
import collections
c = collections.Counter()
c['red'] += 1
c

Counter({'red': 1})

In [73]:
c['blue'] += 1
c['red'] += 1
c

Counter({'blue': 3, 'red': 4})

In [74]:
c.most_common()

[('red', 4), ('blue', 3)]

In [76]:
c.most_common(1)

[('red', 4)]

In [78]:
c.most_common(2)

[('red', 4), ('blue', 3)]

In [80]:
list(c.elements())

['red', 'red', 'red', 'red', 'blue', 'blue', 'blue']

In [82]:
assert 5 + 3 == 8

In [83]:
assert 5 + 3 == 1

AssertionError: